.jumbotron {
    color: whitesmoke;
    font-family: 'Poppins';
}

.btn-primary {
    background-color: purple;
    
}

.content {
    display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

.tellmemore {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;

}

.button {
    transition-duration: 0.4s;
    background-color: lightcoral;
    border: 2px solid purple;
    border-radius: 4px;
}

.button:hover {
    background-color: purple;
    color: white;
  }