.jumbotron {
    color: 6D6C6C;
    font-family: 'Poppins';
}

.btn-primary {
    background-color:#FCDD59;
    border: #6D6C6C;
}

.content {
    display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

.tellmemore {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 40px;

}

.button {
    transition-duration: 0.4s;
    background-color:#FCDD59;
    border: 2px solid #814FD4;
    border-radius: 4px;
    font-family: 'Poppins';
    
}

.button:hover {
    background-color: #814FD4;
    color: white;
  }

h1 {
    font-family: 'Poppins';
    font-weight: bold;
}

h2 {
    font-family: 'Poppins';
    font-weight: bold;
}

h3 {
    font-family: 'Poppins';
    font-weight: bold;
}

p {
    font-family: 'Poppins';
    font-size: large;
}


.screenshots {
    
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}

#footer .twitter {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
#footer .linkedin {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -78px 0;
}
#footer .facebook {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -233px 0;
}
#footer .skype {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -156px 0;
}
#footer .flickr {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -310px 0;
}
#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
  margin: 10px;
}
#footer a:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
#footer .twitter:hover {
  background-position: 0 -56px;
}
#footer .facebook:hover {
  background-position: -233px -56px;
}
#footer .skype:hover {
  background-position: -156px -56px;
}
#footer .linkedin:hover {
  background-position: -78px -56px;
}
#footer .flickr:hover {
  background-position: -310px -56px;
}
.bg-dark-1{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
 
}
 
