.jumbotron {
    color: 6D6C6C;
    font-family: 'Poppins';
}

.btn-primary {
    background-color:#FCDD59;
    border: #6D6C6C;
}

.content {
    display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

.tellmemore {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;

}

.button {
    transition-duration: 0.4s;
    background-color:#FCDD59;
    border: 2px solid #814FD4;
    border-radius: 4px;
    font-family: 'Poppins';
}

.button:hover {
    background-color: #814FD4;
    color: white;
  }